<template>
  <div class="footer">
    <div class="columns container">
      <div class="column">
        <p>MODE SANS FRONTIERES</p>
      </div>
    <div class="column has-text-right">
      <p>B A U M A I R</p>
    </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'VmFooter',
}
</script>

<style lang="scss" scoped>
 .footer {
   background: gray;
   color: WHITE;
 }
</style>
